
<div class="flex-container">

<div class="box-1">
    <!-- changed name and id of ul--->

    <ul id="to=be-eaten">

        <h2> DEVOURE BURGERS!!!!</h2>
        {{#each burgers}}
        {{#unless devoured}}
        {{>burger/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
    </ul>


</div>


<div class="box-2">
    <img src="\images\burger.jpg" alt="burgerimg" width="200px" height="200px" id="burgerimg">

    <h2>Eat Burger!!</h2>
    <form class="b-input">
        <input type="text" id="burger-n" name="burger_name">
        <div class="container">
            <button type="submit" id="burgerButton">Add Burger</button>
        </div>
    </form>


</div>



<div class="box-3">

    <ul id="eaten">
        <h2>DEVOURED BURGERS</h2>
        {{#each burgers}}
        {{#if devoured}}
        {{burger/burger-block devoured=true}}
        <!-- in partial burger-->
        {{/if}}
        {{/each}}



    </ul>

</div>
</div>